.loginButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loginButton:hover{
    color: rgb(255, 255, 255);
    background-color: red;
}
.signupVal{
    color: rgb(240, 73, 73);
    font-weight: 500;
}