.Companyname {
    width: 60px;
    background-color: #7c4dff;
    height: 2px
}

.Products {
    width: 60px;
    background-color:
        #7c4dff;
    height: 2px
}

.Usefullinks {
    width: 60px;
    background-color: #7c4dff;
    height: 2px
}

.Contact {
    width: 60px;
    background-color: #7c4dff;
    height: 2px
}
.icons{
    margin-right: 10px;
}